body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

#info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    font-size: 32px;
    pointer-events: none;
}
